.nav a{
    color: rgb(15, 20, 25);
    text-decoration: none;
}
.nav a:hover{
   color: rgb(15, 20, 25);
}
.estatistica a{
   color: rgb(83, 100, 113);
   text-decoration: none;
}

.estatistica a:hover{
   color: rgb(83, 100, 113);
   text-decoration: underline;
}

.estatistica b{
   color: rgb(15, 20, 25);
}

.pub a{
   color: rgb(83, 100, 113);
   text-decoration: none;

}
.pub a:hover{
   color: rgb(83, 100, 113);
   text-decoration: none;
   background-color: rgba(0,0,0,0.03);
}

.tzeet h6:hover{
   background-color: rgba(0,0,0,0.03);
}

.r a:hover{
   color: rgb(29, 155, 240);
   text-decoration: none;
}
.r i:hover{
   background-color: rgba(29, 155, 240, 0.1);
   border-radius: 5px;
}

.t a:hover{
    background-color: rgba(15, 25, 20);
    border-radius: 5px;
 }

.e a:hover{
   color: rgb(0, 186, 124);
   text-decoration: none;
}
.e i:hover{
   background-color: rgba(0, 186, 124, 0.1);
   border-radius: 5px;
}
.l a:hover{
   color: rgb(249, 24, 128);
   text-decoration: none;
}
.l i:hover{
   background-color: rgba(249, 24, 128, 0.1);
   border-radius: 5px;
}
.nav li {
   padding: 10px;
   list-style-type: none;
}
.nav li:hover{
   background-color: rgb(15, 25, 20, 0.1);
   border-radius: 20px;
   width: 200px;
}
.nav img{
   padding: 5px;
}
.gray{
   background-color: rgb(239, 243, 244);
}
.image-container {
   justify-content: space-between;
}
.image-container button{
   width: 70px;
   height: 40px;
   border-radius: 20px;
}

.nav button{
   border-radius: 20px;
}

font{
   color: rgb(83,100,113);
}

.centralizado {
   text-align: center;
}

.justificado{
   text-align:justify-all;
}
